{% extends 'base.html.twig' %}

{% block title %}New RoomLine{% endblock %}

{% block body %}
    <h1>Create new RoomLine</h1>

    {{ include('room_line/_form.html.twig') }}

    <a href="{{ path('app_room_line_index') }}">back to list</a>
{% endblock %}
