{% extends 'base.html.twig' %}

{% block title %}New House{% endblock %}

{% block body %}
    <h1>Create new House</h1>

    {{ include('house/_form.html.twig') }}

    <a href="{{ path('app_house_index') }}">back to list</a>
{% endblock %}
